:root {
  --theme-primary: rgb(250, 125, 0);
}

body {
  font-family: 'IBM Plex Sans', sans-serif !important;
  padding: 0 50px;
}

ul {
  list-style-type: none;
  padding: 0;
}

a i:hover {
  color: var(--theme-primary) !important;
}

a:hover {
  text-decoration: none;
  transform: translateY(-1px);
}

#landing {
  padding: 25vh 0 0 0;
}

#projects {
  padding: 10vh 0 10vh 0;
}

#go-to-landing {
  vertical-align: bottom;
}

#go-to-landing i {
  padding: 0 1rem 0 0;
}

.primary-1 {
  color: #000 !important;
}

.primary-2 {
  color: #333 !important;
}

.primary-3 {
  color: #666 !important;
}

.secondary {
  color: var(--theme-primary) !important;
}

.profilepicture {
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
}

.languagebadge {
  float: left;
  margin: 0.5rem 1rem 0 0;
  padding: 0.1rem 0.5rem;
  border: 2px solid var(--theme-primary);
  border-radius: .15rem;
}

.languagebadge i {
  padding: 0 0.3rem 0 0;
}

.mt-5 {
  margin-top: 7rem !important;
}

.mb-5 {
  margin-bottom: 7rem !important;
}

.card {
  -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
  box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
}

.card:hover {
  transform: translateY(-1px);
  -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.22),0 1px 3px rgba(0,0,0,.08);
  box-shadow: 0 4px 6px rgba(50,50,93,.22),0 1px 3px rgba(0,0,0,.08);
}

.card img {
  -webkit-filter: grayscale(100%);
   filter: grayscale(100%);
}

.card:hover img {
  -webkit-filter: grayscale(0%);
 filter: grayscale(0%);
}

.hidden {
  display: none;
}

@media (max-width: 576px) {
  body {
    padding: 0
  }

  .display-2 {
    font-size: 3.5rem;
  }
}

@media (max-width: 992px) {
  body {
    text-align: center;
  }

  h6 {
    text-align: center;
  }
}

@media (min-width: 1500px) {

}
