body {
  font-family: 'IBM Plex Sans', sans-serif !important;
  padding: 100px 50px;
}

ul {
  list-style-type: none;
  padding: 0;
}

h1 {
  font-size: 4rem !important;
}

a i:hover {
  color: #ff9933 !important;
}

a:hover {
  text-decoration: none;
}

.primary-1 {
  color: #000 !important;
}

.primary-2 {
  color: #333 !important;
}

.primary-3 {
  color: #666 !important;
}

.secondary {
  color: #ff9933 !important;
}

.namesection .profilepicture {
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
}

.mt-5 {
  margin-top: 8rem !important;
}

.pt-50 {
  padding-top: 15vh !important;
}

.float {
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.float.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
