:root {
  --background: #fff;
  --text: #000;
  --text-hover: #333;
}

body {
  font-family: 'IBM Plex Sans', sans-serif !important;
  padding: 0;
  background-color: var(--background);
  color: var(--text);
  text-align: center;
}

a {
  color: var(--text);
}

a:hover {
  color: var(--text-hover);
  text-decoration: none;
}

#page {
  height: 100vh;
}

#name {
  -ms-flex-item-align: end !important;
  align-self: flex-end !important;
}

#theme-toggler {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

#theme-toggler {
  cursor: pointer;
}

@media (min-width: 768px) {
  #page {
    -ms-flex-align: center !important;
    align-items: center !important;    
  }

  #name {
    text-align: right !important;
    -ms-flex-item-align: center !important;
    align-self: center !important;
  }

  #links {
    text-align: left !important;
  }
}
