:root {
  --background: #fff;
  --text: #000;
  --text-hover: #333;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: var(--background);
  color: var(--text);
}

a {
  color: var(--text);
  text-decoration: none;
}

a:hover {
  color: var(--text-hover);
  text-decoration: none;
}

h1 {
  font-size: 3rem;
}

#page {
  display: grid;
  grid-template:
    "name" 1fr
    "links" 1fr
    / 1fr;
  height: 100%;
  text-align: center;
}

#name {
  grid-area: name;
  align-self: end;
  padding: 1rem;
}

#links {
  grid-area: links;
  align-self: start;
  padding: 1rem;
}

#theme-toggler {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

#theme-toggler {
  cursor: pointer;
}

@media (min-width: 768px) {
  #page {
    grid-template:
      "name links" 1fr
      / 1fr 1fr;
  }

  #name {
    align-self: center;
    justify-self: end;
  }

  #links {
    align-self: center;
    justify-self: start;
    text-align: left;
  }
}
