body, html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

a {
  color: #ddd;
}

.bg1, .bg2, .bg3 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg1 {
  background-image: url('../assets/1.jpg');
  min-height: 100%;
}

.bg2 {
  background-image: url('../assets/2.jpg');
  min-height: 75%;
}

.bg3 {
  background-image: url('../assets/3.jpg');
  min-height: 75%;
}

.section {
  text-align: center;
  padding: 50px 80px;
  background-color: #282e34;
  color: #ddd;
}

.label {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.label .border {
  background-color: #282e34;
  color: #ddd;
  padding: 20px;
}

@media(max-width: 768px) {
  .bg1, .bg2, .bg3 {
    background-attachment: scroll;
  }
}
